.footer {
    font-variant: small-caps;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #41998a;
    color: white;
    text-align: center;
    height: 8%;
    font-family: arial, helvetica;
    font-weight: bold ;
    font-size: 11px;
 }
 
h2 {
    font-variant: small-caps;
    font-weight: normal;
    font-size: 3px;
   
    color: white;
}

div.ehdotukset {
    
    font-variant: small-caps;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3px;
}


    
   

